[submodule "Lib/STM32_BootloaderXModem"]
	path = Lib/STM32_BootloaderXModem
	url = https://github.com/Diveturtle93/STM32_BootloaderXModem.git
	branch = main
[submodule "Lib/STM32_Basicuart"]
	path = Lib/STM32_Basicuart
	url = https://github.com/Diveturtle93/STM32_Basicuart.git
[submodule "Lib/STM32_Hardfault"]
	path = Lib/STM32_Hardfault
	url = https://github.com/Diveturtle93/STM32_Hardfault.git
